#commandLine {
  width:50%;
  display:relative;
  float:left;
}
#prompt {
  display:relative;
  float:left;
}
@media screen and (max-width: 1500px) {
  #statusBar {
    display:none;
  }
}


#combatActions, #movementActions {
}
#combatActions {
  position:fixed;
  margin:2em;
  padding:2em;
  border:.5px dotted black;
  z-index:200;
  bottom:10em;
  left:0px;
}
#movementActions {
  position:fixed;
  margin:2em;
  padding:2em;
  border:.5px dotted black;
  z-index:200;
  bottom:10em;
  right:0px;
}
#scrollback {
  overflow-x:auto;
}
.moveButtonContainer {
  position:absolute;
  bottom:0px;
  right:0px;
  width:24em;
}
.moveButton {
  float:left;
  width:8em;
  height:8em;
}
#map screen and (min-width: 1500px) {
  position:fixed;
  font-family:monospace;
  white-space:pre;
  position:fixed;
  top:0px;
  right:15px;
  margin:1em;
}
.aardCombatSpam {
  font-size:x-small;
}
@media screen and (min-width: 1500px) {
  .mobileOnly {
    display:none;
  }
}
@media screen and (max-width: 1500px) {
  #commandLine {
    display: none;
  }
  #map {
    position:fixed;
    bottom:0px;
    right:0px;
    width:16em;
    height:16em;
    font-size:xx-small;
    margin:1em;
  }
}

